<style>
 div {
padding: 3px;
/* border:3px;
margin: 3px; */
}
 </style>

<div id="modal-edit-specification-attributes">
   
                        <button class="btn-close" (click)="close()"></button>
                        <div *ngIf="from =='add'">
                        <h2>Add specifications</h2>
                        <br>
                        <form [formGroup]="carForm"  (ngSubmit)="onSubmit()">
                            <div>
                              <label >Car VIN:</label>
                              <input formControlName="vin" [class.error]="carForm.controls.vin.invalid && carForm.controls.vin.touched" placeholder="VIN" />
                              <br>
                              <em *ngIf = "carForm.controls.vin.invalid && carForm.controls.vin.touched">Please enter a vin</em>
                              <br>
                              <!-- {{carForm.controls.vin.valid}}
                              <br> <br><br>  -->
                              <label>Car color:</label>
                              <input formControlName="color" [class.error]="carForm.controls.color.invalid && carForm.controls.color.touched" placeholder="Color"  />
                              <br>
                              <em *ngIf = "carForm.controls.color.invalid && carForm.controls.color.touched">Please enter a color</em>
                              <br> 
                              <label>Car make:</label>
                              <input formControlName="brand" [class.error]="carForm.controls.brand.invalid && carForm.controls.brand.touched"placeholder="make" />
                              <br>
                              <em *ngIf = "carForm.controls.brand.invalid && carForm.controls.brand.touched">Please enter a make</em>
                              <br> 
                              <label>Car number of doors:</label>
                              <input formControlName="doorNr" [class.error]="carForm.controls.doorNr.invalid  && carForm.controls.doorNr.touched " placeholder="DoorNr" />
                              <br>
                              <em *ngIf = "carForm.controls.doorNr.invalid && carForm.controls.doorNr.touched">Please enter the number of doors</em>
                        
                              <br> 
                              <form formGroupName="category" class="category">
                                <label>Car category:</label>
                                <ng-select *ngIf="categories != null" [items]="categories" [class.error]="carForm.controls.category.controls.name.invalid && carForm.controls.category.controls.name.touched " formControlName="name"
                                  placeholder="Category" bindLabel="name" bindValue="name">
                                </ng-select>
                                
                                
                                <em *ngIf = "carForm.controls.category.controls.name.invalid && carForm.controls.category.controls.name.touched">Please enter the type of the car</em>
                              </form>
                        
                                <br>
                                <label>Car type:</label>
                                <ng-select *ngIf="types != null" [items]="types" [class.error]="carForm.controls.type.invalid && carForm.controls.type.touched" formControlName="type"
                                 placeholder="Type"></ng-select>
                              <em *ngIf = "carForm.controls.type.invalid && carForm.controls.type.touched">Please enter the type of the car</em>
                           

                             <br>
                             <label>Car fuel:</label>
                             <ng-select *ngIf="fuels != null" [items]="fuels" [class.error]="carForm.controls.fuel.invalid && carForm.controls.fuel.touched" formControlName="fuel"
                              placeholder="Fuel"></ng-select>
                           <em *ngIf = "carForm.controls.fuel.invalid && carForm.controls.fuel.touched">Please enter the fuel of the car</em>
                          </div>
                             
                            <br>
                            <button type="submit" class="btn btn-primary" [disabled]="checkForm()"   (click)="onSubmit()">Save</button>
                            <button type="button" class="btn btn-primary" (click)="close()">Close</button>
                        <!--   <em *ngIf="carForm.invalid && carForm.dirty">Incomplete form</em>-->
                          </form>
                        </div>


                        <div *ngIf="from =='update'">
                            <h2>Edit specifications</h2>
                            <br>
                            <div *ngIf="car">
                                <label>Car VIN: </label>
                                <div>   {{car.vin}} </div>
                                 <div>
                                  <label for="car-brand">Car make: </label>
                                  <input id="car-brand" [(ngModel)]="car.brand" placeholder="make">
                                              <br><br>
                                  <label for="color">Car Color: </label>
                                  <input id="car-color" [(ngModel)]="car.color" placeholder="color">
                                  <br><br>
                                  <label for="doorNr">The number of doors: </label>
                                  <input id="car-doorNr" [(ngModel)]="car.doorNr" placeholder="doorNr">
                                  <br><br><br>
                                   <label >Car category name: </label>
                                   <ng-select  *ngIf="categories != null"
                                        [items]="categories"
                                        name="category"
                                        bindLabel="name"
                                        bindValue="name"
                                        [(ngModel)]="selectedCategory">
                                    </ng-select>
                                    <br>
                                  <label>Car category engine capacity: </label>
                                  <div>   {{x}} </div>
                                  <label>Car category engine capacity: </label>
                                  <div>  {{y}} </div>
                               <br>
                                  <label>Car type: </label>
                                  <ng-select *ngIf="types != null"
                                         [items]="types"
                                        name="type"
                                        [(ngModel)]="car.type">
                                    </ng-select>
                                  <label>Car air conditioning:  </label>
                                  <div>  {{car.airConditioning}} </div>
                                  <label>Car electric window:  </label>
                                  <div>  {{car.electricWindow}}</div>
                                  <label>Car parking senzor: </label>
                                  <div>  {{car.parkingSenzor}}  </div>
                                   <div *ngIf="car.USBPort ==true else elseBlock">
                                    <label>Car USB port:  </label>
                                    <div>  true </div>
                                  </div>
                                  <ng-template #elseBlock>
                                    <label>Car USB port: </label>
                                    <div>  false  </div>
                                  </ng-template>
                                   <label>Car parktronic system:  </label>
                                  <div>  {{car.parktronicSystem}} </div>
                                  <label>Car infotainment system:  </label>
                                  <div>  {{car.infotainmentSystem}} </div>
                                  <div *ngIf="car.radio ==0 else elseBlock2">
                                    <label>Car radio:  </label>
                                    <div>  analog </div>
                                  </div>
                                  <ng-template #elseBlock2>
                                    <label>Car radio: </label>
                                    <div>  digital  </div>
                                  </ng-template>
                                  <br>
                                  <label>Fuel: </label>
                                  <ng-select *ngIf="fuels != null"
                                         [items]="fuels"
                                        name="fuel"
                                        [(ngModel)]="car.fuel">
                                    </ng-select>

                                   
                                </div>
                          <button type="submit" class="btn btn-primary"  (click)="save()">Save</button>
                          <button type="button" class="btn btn-primary" (click)="close()">Close</button>
                    
         
</div>
