input.error,
select.error,
.error {
border: 1px solid red;
}

label {
    color: #076483;
    font-weight: bold;
    padding-right: .5rem;
  }

  .btn-close {
    color: #aaa;
    float: right;
    font-size: 10px;
    font-weight: bold;
  }

  /* div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  } */

  /* div {
    width: 300px;
    padding: 25px;
  } */


  /* ng-select select-dropdown > div {
    z-index: 2;
} */