<div class="container">
    <h2>Car fields</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              
      <div class="form-group">
        <label for="vin">VIN</label>
        <input id="vin" name="vin" class="form-control" [(ngModel)]="addedCar.vin"
            required #nameField = "ngModel"
            (blur)="onBlur(nameField)"
            [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger">
        Enter a vin for the car
        </div>  
    </div>

    <!-- template reference = namefield  = property values; validation classes for styling the form-->
    <h6>pristine - {{nameField.pristine}}</h6>
    <h6>touched - {{nameField.touched}}</h6>
    <h6>valid - {{nameField.valid}}</h6>
  
      <br>
      <div class="form-group">
        <label for="color">Color</label>
        <input id="color" name="color" class="form-control" [(ngModel)]="addedCar.color"
        required #nameField1 = "ngModel"
        (blur)="onBlur(nameField)"
        [class.field-error]="form.submitted && nameField1.invalid"/>
    <div [hidden]="!form.submitted || nameField1.valid"
    class="alert alert-danger">
    Enter a color for the car
    </div>  
</div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input id="brand" name="brand" class="form-control" [(ngModel)]="addedCar.brand"
            required #nameField2 = "ngModel"
            (blur)="onBlur(nameField2)"
            [class.field-error]="form.submitted && nameField2.invalid"/>
        <div [hidden]="!form.submitted || nameField2.valid"
        class="alert alert-danger">
        Enter a brand for the car
        </div>  
    </div>
     
      <div class="form-group">
        <label for="doorNr">Number of doors</label>
        <input id="doorNr" name="doorNr" class="form-control" [(ngModel)]="addedCar.doorNr"
            required #nameField3 = "ngModel"
            (blur)="onBlur(nameField3)"
            [class.field-error]="form.submitted && nameField3.invalid"/>
        <div [hidden]="!form.submitted || nameField3.valid"
        class="alert alert-danger">
        Enter the number of doors for the car
        </div>  
    </div>
     

    <div class="form-group">
        <!-- <label for="category" class="form-label">Category</label> -->
        <label for="category">Car Category</label>
        <select class="form-control" id="category" name="category" [(ngModel)]="addedCategory"
         required #nameField4 = "ngModel"
         (blur)="onBlur(nameField4)"

         [class.field-error]="form.submitted && nameField4.invalid">
          <option selected disabled value="">Choose...</option> 
        
           <!-- <option value = "SmallCar, 2000, 2">SmallCar</option>
           <option value = "{"Bus", 3000, 2}">Bus</option>
           <option value = "Goodvehicle, 5000, 6">Goodvehicle</option>  -->
          <option value="SmallCar" click >SmallCar</option>
          <option value="Bus" >Bus</option>
          <option value="Goodvehicle">Goodvehicle</option>
          <!-- <option *ngFor="let category of subscriptionCategories | async"></option> -->
          <!-- <option *ngFor="let category of subscriptionCategories | async"> {{category.name}}</option> -->
          <!-- <option value = "{"Bus", 3000, 2}">Bus</option> -->
          
          
        </select>
        <div [hidden]="!form.submitted || nameField4.valid"
        class="alert alert-danger">
        Please select a category for the car
        </div>
    </div>
               
      <div class="form-group">
        <label for="type">Car Type</label>
        <select class="form-control" id="type" name="type" [(ngModel)]="addedCar.type"
        required #nameField5 = "ngModel"
         (blur)="onBlur(nameField5)"
         [class.field-error]="form.submitted && nameField5.invalid">
          <option selected disabled value="">Choose...</option> 
          <option>Budget</option>
          <option>Premium</option>
          <option>Luxury</option>
        </select>
        <div [hidden]="!form.submitted || nameField5.valid"
        class="alert alert-danger">
        Please select a type of confort for the car
        </div>
      </div>
      <!-- <button type="button">Save</button> -->
      <button class="btn btn-primary">Save</button> 
      
    </form>
  </div>
  <div>Original Car: {{originalCar | json}}</div>
   <br>
   <div>Form value: {{form.value | json}}</div>
  <br>
  <div>Added Car value: {{addedCar | json}}</div>
  <!-- <br>
  <div>AddedCar.category.name value: {{this.addedCar.category?.name | json}}</div>
  <br>
  <div>AddedCar.category.weight value: {{this.addedCar.category?.weight | json}}</div> -->

 
 
