<div class="container">
    <h2>Car fields</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
              
      <div class="form-group">
        <label for="vin">VIN</label>
        <input id="vin" name="vin" class="form-control" [(ngModel)]="addedCar.vin"
            required #nameField = "ngModel"
            (blur)="onBlur(nameField)"
            [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger">
        Enter a vin for the car
        </div>  
    </div>

    <!-- template reference = namefield  = property values; validation classes for styling the form-->
    <h3>pristine - {{nameField.pristine}}</h3>
    <h3>touched - {{nameField.touched}}</h3>
    <h3>valid - {{nameField.valid}}</h3>
  
      <br>
      <div class="form-group">
        <label for="color">Color</label>
        <input id="color" name="color" class="form-control" [(ngModel)]="addedCar.color"
        required #nameField = "ngModel"
        (blur)="onBlur(nameField)"
        [class.field-error]="form.submitted && nameField.invalid"/>
    <div [hidden]="!form.submitted || nameField.valid"
    class="alert alert-danger">
    Enter a color for the car
    </div>  
</div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input id="brand" name="brand" class="form-control" [(ngModel)]="addedCar.brand"
            required #nameField = "ngModel"
            (blur)="onBlur(nameField)"
            [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger">
        Enter a brand for the car
        </div>  
    </div>
     
      <div class="form-group">
        <label for="doorNr">Number of doors</label>
        <input id="doorNr" name="doorNr" class="form-control" [(ngModel)]="addedCar.doorNr"
            required #nameField = "ngModel"
            (blur)="onBlur(nameField)"
            [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger">
        Enter the number of doors for the car
        </div>  
    </div>
     

    <div class="form-group">
        <!-- <label for="category" class="form-label">Category</label> -->
        <label for="category">Car Category</label>
        <select class="form-control" id="category" name="category" [(ngModel)]="addedCar.category"
         required #nameField = "ngModel"
         (blur)="onBlur(nameField)"
         [class.field-error]="form.submitted && nameField.invalid">
          <option selected disabled value="">Choose...</option> 
        
           <!-- <option value = "SmallCar, 2000, 2">SmallCar</option>
           <option value = "{"Bus", 3000, 2}">Bus</option>
           <option value = "Goodvehicle, 5000, 6">Goodvehicle</option>  -->
          <option value = "{{category1}}">SmallCar</option>
          <option value = "{{category2}}">Bus</option>
          <option value = "{{category3}}">Goodvehicle</option>
          <!-- <option *ngFor="let category of subscriptionCategories | async"></option> -->
          <!-- <option value = "{"Bus", 3000, 2}">Bus</option> -->
          
          
        </select>
        <div [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger">
        Please select a category for the car
        </div>
    </div>
               
      <div class="form-group">
        <label for="type">Car Type</label>
        <select class="form-control" id="type" name="type" [(ngModel)]="addedCar.type"
        required #nameField = "ngModel"
         (blur)="onBlur(nameField)"
         [class.field-error]="form.submitted && nameField.invalid">
          <option selected disabled value="">Choose...</option> 
          <option>Budget</option>
          <option>Premium</option>
          <option>Luxury</option>
        </select>
        <div [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger">
        Please select a type of confort for the car
        </div>
      </div>

      <button class="btn btn-primary">Save</button>
      
    </form>
  </div>
  {{originalCar | json}}
   <br>
  {{form.value | json}}
  <br>
  {{addedCar | json}}
 
  {{this.addedCar.category?.name | json}}

 
