<!-- <h2>{{pageTitle}}</h2> -->
<div *ngIf="car">
    <h2>{{car.brand | uppercase}} Details</h2>
    <div><span>vin: </span>{{car.vin}}</div>
    <div>
      <label for="car-brand">Car brand: </label>
      <input id="car-brand" [(ngModel)]="car.brand" placeholder="brand">
      <br><br>
      <label for="car-color">Car Color: </label>
      <input id="car-color" [(ngModel)]="car.color" placeholder="color">
      <br><br>
      <label for="car-doorNr">The number of doors: </label>
      <input id="car-doorNr" [(ngModel)]="car.doorNr" placeholder="doorNr">
      <br><br>
      <label for="car-category">Car category name: </label>
      <input *ngIf="car.category !=null" id="car-category" [(ngModel)]="car.category.name" placeholder="category name">  
      <label for="car-category">Car category engine capacity: </label>
      <input *ngIf="car.category !=null" id="car-category" [(ngModel)]="car.category.engineCapacity" placeholder="category engine power"> 
      <label for="car-category">Car category weight: </label>
      <input *ngIf="car.category !=null" id="car-category" [(ngModel)]="car.category.weight" placeholder="category weight"> 
      <br><br>
      <label for="car-type">Car type: </label>
      <input id="car-type" [(ngModel)]="car.type" placeholder="type">
    </div>
    <!-- <button class="btn btn-primary"(click)="goBack()">Go back</button> 
    <button class="btn btn-primary"(click)="save()">Save</button>  -->
    <button type="button" (click)="goBack()">Go back</button>
    <button type="button" (click)="save()">Save</button>
  </div>




  <!-- <h2>this is from car-detail.component</h2> -->
 
