<h1>
  modal works!
</h1>

<!--<div class="modal-header">-->
<!--  <h5 class="modal-title" id="exampleModalLabel">Car deleted</h5>-->
<!--&lt;!&ndash;  <button&ndash;&gt;-->
<!--&lt;!&ndash;    type="button"&ndash;&gt;-->
<!--&lt;!&ndash;    class="btn-close"&ndash;&gt;-->
<!--&lt;!&ndash;    aria-label="Close"&ndash;&gt;-->
<!--&lt;!&ndash;    (click)="ModalComponent.close()"&ndash;&gt;-->
<!--&lt;!&ndash;  ></button>&ndash;&gt;-->
<!--</div>-->
<!--<div class="modal-body"> The car with {{car.vin}} was deleted!</div>-->
<!--<div class="modal-footer">-->
<!--  <button type="button" class="btn btn-secondary" (click)="ModalClose()">Close</button>-->
<!--</div>-->


