<!-- <h2>{{car.brand | uppercase}} Details</h2>
<div><span>vin: </span>{{car.vin}}</div>
<div>
    <label for="brand">Car brand: </label>
    <input vin="brand" [(ngModel)]="car.brand" placeholder="brand">
  </div> -->

<h2>My Cars</h2>
<ul class="cars">
    <li *ngFor="let car of cars">
        <button [class.selected]="car === selectedCar" type="button" (click)="onSelect(car)">
            <span class="badge">{{car.vin}}</span>
            <span class="name">{{car.brand}}</span>
            <!-- ;<button class = "delete" type="button" (click)="delete(car)">Delete</button> -->
            <button type="button" class="delete" title="delete car" (click)="delete(car)">Delete</button>
        
            <!-- <span class="delete">Delete a car</span> -->
            
              
          </button>
        
      </ul>

<app-car-detail [car]="selectedCar"></app-car-detail>

<h1>this is from cars.component</h1>
     