<!-- <h2>{{car.brand | uppercase}} Details</h2>
<div><span>vin: </span>{{car.vin}}</div>
<div>
    <label for="brand">Car brand: </label>
    <input vin="brand" [(ngModel)]="car.brand" placeholder="brand">
  </div> -->

<h2>My Cars</h2>
<ul class="cars">

    <li *ngFor="let car of cars">
        <button [class.selected]="car === selectedCar" type="button" (click)="onSelect(car)">
            <span class="badge">{{car.vin}}</span>
            <span class="name">{{car.brand}}</span>
        </button>
        <button type="button" class="delete" title="delete car" (click)="delete(car)">Delete</button>

      </li>

      <ng-container *ngIf="cars.length; then showMessage1; else showMessage2">
      </ng-container>
      <ng-template #showMessage1>
      </ng-template>
      <ng-template #showMessage2>
        <h6>There aren't any cars in the list</h6>
      </ng-template>
  </ul>
      <!-- <button type="button" (click)="deleteAll()">Delete all cars</button> -->
      <button type="button" class="btn btn-primary" (click)="deleteAll()">Delete all cars</button>
      <!-- <button type="button" class="btn btn-primary" (click)="save()">Update car color</button> -->
      <br>


<app-car-detail [car]="selectedCar"></app-car-detail>
<br>
{{cars | json}}


